@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;700&display=swap');

@layer base {
  body {
    @apply h-full lg:overflow-hidden  text-primary font-secondary bg-white;
  }
  .h1 {
    @apply text-[40px] lg:text-[108px] font-primary font-bold capitalize leading-[120%] tracking-[-0.05em] mb-2;
  }
  .section {
    @apply h-svh w-screen;
  }
  .btn {
    @apply py-[18px] px-[50px] h-[50px] md:h-[66px] flex items-center justify-center text-base uppercase font-secondary font-semibold bg-primary text-white;
  }

  .container {
    @apply px-[15px];
  }

  /* .navlink:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: black;
    content: '';
} */

.navlink.active::before {
  display: block !important;
}
}
